body {
  font-family: Ariel, sans-serif;
  //font-size: 16px;
  font-weight: bold;
 line-height: 1.3;
}

header h1 {
  font-size: 36px;
  margin-bottom: 0;
  color: #00307B ;
}

header h2 {
  font-size: 24px;
  margin-top: 0;
  color: #2867CA ;
}

section {
  margin-bottom: 20px;
}

section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #83B4FF;
  line-height: 1.5;
}

section ul {
  list-style-type: circle;
  padding-left: 5;
}
.description {
	list-stlye-type: square;
	padding-left: 5;
	font-weight:normal;
}
.education {
	font-weight:normal;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00307B;
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 40px 40px;
}